<div class="container mt-5">
  <div class="text-center mb-4">
    <h1 *ngIf="!!option">Modifier l'option</h1>
    <h1 *ngIf="!option">Créer une nouvelle option</h1>
  </div>

  <div class="d-flex justify-content-center">
    <form class="form-card" [formGroup]="formGroup">
      <div class="d-flex justify-content-between mb-3">
        <button mat-icon-button routerLink="/option" aria-label="Retour">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="6"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Prix</mat-label>
        <input matInput formControlName="price" />
        <mat-icon matSuffix>euro_symbol</mat-icon>
      </mat-form-field>

      <div class="d-flex justify-content-end mt-4">
        <button mat-icon-button color="primary" (click)="reset()">
          <mat-icon>replay</mat-icon>
        </button>

        <button mat-raised-button color="primary" (click)="save()">
          <mat-icon>save</mat-icon>
          {{ !!option ? 'Mettre à jour' : 'Enregistrer' }}
        </button>
      </div>
    </form>
  </div>
</div>
