<div class="container">
  <div class="row">
    <div class="offset-4 col-4" [formGroup]="formGroup" >
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choisir un type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let typeOption of deviceTypes" [value]="typeOption.value">
            {{ typeOption.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="save()">{{ !!device ? 'Mettre à jour' : 'Enregistrer' }}</button>
    </div>
  </div>
</div>
