<div class="container mt-5">
  <div class="text-center mb-4">
    <h1>Liste des clients existants</h1>
  </div>

  <div class="d-flex justify-content-end mb-3">
    <button mat-raised-button color="primary" routerLink="/client/new">
      <mat-icon>add</mat-icon>
      Ajouter un client
    </button>
  </div>

  <div class="card">
    <table mat-table [dataSource]="clients" class="mat-elevation-z1">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let client"> {{ client.firstName }} {{ client.lastName }} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Téléphone </th>
        <td mat-cell *matCellDef="let client"> {{ client.phoneNumber }} </td>
      </ng-container>

      <ng-container matColumnDef="more">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let client">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLinkActive="active" [routerLink]="['/client', client.idClient]">
              <mat-icon>info</mat-icon>
              <span>Consulter</span>
            </button>
            <button mat-menu-item (click)="deleteClient(client)">
              <mat-icon>delete</mat-icon>
              <span>Supprimer</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
