<div class="container">
  <div class="row">

    <div class="p-3 text-center">
      <h1>Liste des formules existantes</h1>
    </div>

    <div class="add-button-container">
      <button mat-raised-button  routerLink="/formula/new">
        <mat-icon>add</mat-icon> Ajouter une formule
      </button>
    </div>

    <table mat-table [dataSource]="formulas">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let formula"> {{formula.idFormula}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let formula"> {{formula.name}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let formula"> {{formula.price}} </td>
      </ng-container>

      <ng-container matColumnDef="more">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
        <td mat-cell *matCellDef="let formula">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLinkActive="active" [routerLink]="['/formula', formula.idFormula]">
              <mat-icon>info</mat-icon>
              <span>Consulter</span>
            </button>
            <button mat-menu-item (click)="deleteFormula(formula)">
              <mat-icon>delete</mat-icon>
              <span>Supprimer</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
