<div class="container">
  <div class="row">

    <div class="p-3 text-center">
      <h1 *ngIf="!!reservation">Réservation {{ reservation.idReservation }}</h1>
      <h1 *ngIf="!reservation">Création d'une nouvelle réservation</h1>
    </div>

    <div class="offset-4 col-4" [formGroup]="formGroup" >
      <mat-form-field>
        <mat-label>Numéro de téléphone</mat-label>
        <input matInput formControlName="phoneNumber" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Rue</mat-label>
        <input matInput formControlName="street" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Numéro</mat-label>
        <input matInput formControlName="houseNumber" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Boite</mat-label>
        <input matInput formControlName="box" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Code postal</mat-label>
        <input matInput formControlName="zipCode" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ville</mat-label>
        <input matInput formControlName="city" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pays</mat-label>
        <input matInput formControlName="country" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choisir un status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let statusReservation of reservationStatus" [value]="statusReservation.value">
            {{ statusReservation.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date évènement</mat-label>
        <input matInput [matDatepicker]="eventDatePicker" formControlName="eventDate">
        <mat-datepicker #eventDatePicker/>
        <mat-datepicker-toggle [for]="eventDatePicker" matSuffix/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Heure évènement</mat-label>
        <input matInput type="time" formControlName="eventTime">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date installation</mat-label>
        <input matInput [matDatepicker]="installationDatePicker" formControlName="installationDate">
        <mat-datepicker #installationDatePicker/>
        <mat-datepicker-toggle [for]="installationDatePicker" matSuffix/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Heure installation</mat-label>
        <input matInput type="time" formControlName="installationTime">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date reprise matériel</mat-label>
        <input matInput [matDatepicker]="pickUpDatePicker" formControlName="pickUpDate">
        <mat-datepicker #pickUpDatePicker/>
        <mat-datepicker-toggle [for]="pickUpDatePicker" matSuffix/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Heure reprise matériel</mat-label>
        <input matInput type="time" formControlName="pickUpTime">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Coût de livraison</mat-label>
        <input matInput formControlName="deliveryCost" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Remise</mat-label>
        <input matInput formControlName="discount" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Prix total</mat-label>
        <input matInput formControlName="totalPrice" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Acompte</mat-label>
        <input matInput formControlName="deposit" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Commentaire</mat-label>
        <input matInput formControlName="comment" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lien vers la gallerie</mat-label>
        <input matInput formControlName="galleryLink" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choisir un client</mat-label>
        <mat-select formControlName="client">
          <mat-option *ngFor="let client of clients" [value]="client">
            {{ client.lastName }} {{ client.firstName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choisir des options</mat-label>
        <mat-select formControlName="options" multiple>
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choisir des formules</mat-label>
        <mat-select formControlName="formulas" multiple>
          <mat-option *ngFor="let formula of formulas" [value]="formula">
            {{ formula.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="save()">{{ !!reservation ? 'Mettre à jour' : 'Enregistrer' }}</button>
    </div>
  </div>
</div>
